@import "../../../styles/colors";

.navButtonContainer {
  width: 250px;
  height: 45px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 11px 8px 11px 11px;
  position: relative;
  border-radius: 8px;
  color: $gray-1;
  transition: .2s ease background-color;
  cursor: pointer;
  border: none;
  background-color: $white;

  &:hover {
    background-color: $gray-4;
  }

  > span {
    margin-left: 14px;
    font-size: 14px;
    letter-spacing: -0.16px;
    font-weight: 500;
  }

  .navButtonIcon{
    width: 24px;
    height: 24px;
    fill: $gray-1;
    stroke: $gray-1;
  }

  .navButtonArrow {
    width: 16px;
    height: 16px;
    stroke:  $gray-1;
    position: absolute;
    right: 8px;
  }
}

.navButtonContainerSelected {
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: $blue;
  }

  svg {
    fill: white !important;
    stroke: white !important;
  }
}
