@import "../../styles/colors";

.customerInfoRowContainer {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.16px;
  color: $gray-2;
  padding: 24px 0;
  border-bottom: 1px solid $gray-4;
  display: flex;

 > span {

   &:nth-child(1) {
     width: 19%;
   }

   &:nth-child(2) {
     width: 14%;
   }

   &:nth-child(3) {
     width: 18%;
   }

   &:nth-child(4) {
     width: 23%;
   }

   &:nth-child(5) {
     width: 16%;
   }

   &:nth-child(6) {
     width: 10%;
     box-sizing: border-box;
     padding-left: 15px;
   }
 }

  > button {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    letter-spacing: -0.16px;
    font-weight: 500;
  }

  .activeButton {
    background-color: transparent-color($green-3, .38);
    color: $green-1;
    border: none;
    outline: 1px solid $green-2;
  }

  .inactiveButton {
    background-color: $red-2;
    color: $red-1;
    border: none;
    outline: 1px solid $red-1;
  }
}

